---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div id="upcoming-events">
      <h2 class="post-list-heading">Upcoming Events</h2>
  </div>
  <script>
    fetch('https://cors-anywhere.herokuapp.com/https://api.meetup.com/Toronto-Code-Mentoring/events?page=4')
    .then(function (res) {
      return res.json()
    })
    .then(function (myJson) {
      let events = myJson;
      events.forEach(data=>{
        let date = new Date(data.time)
        let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', timeZoneName: 'short', hour: 'numeric'};
        let event = {
          name: data.name,
          link: data.link,
          time: date.toLocaleString('en-US', options)
        }
        if(!document.querySelector('#upcoming-events')) return
        document.querySelector('#upcoming-events').insertAdjacentHTML('beforeend', `
        <a href="${event.link}" target="_blank" rel="noopener noreferrer">${event.name}</a>
        <div>${event.time}</div>
        <br>
        `
        );
      })
    })
  </script>
</div>