---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div id="upcoming-events">
      <h2>Upcoming Events</h2>
  </div>
  <script>
    fetch('https://cors-anywhere.herokuapp.com/https://api.meetup.com/Toronto-Code-Mentoring/events')
    .then(function (res) {
      return res.json()
    })
    .then(function (myJson) {
      let firstFourEvents = myJson.slice(0, 4);
      firstFourEvents.forEach(data=>{
        let event = {}
        event.name = data.name
        event.link = data.link
        event.time = new Date(data.time).toLocaleString()
        if(!document.querySelector('#upcoming-events')) return
        document.querySelector('#upcoming-events').insertAdjacentHTML('beforeend', `
        <a href="${event.link}" target="_blank" rel="noopener noreferrer">${event.name}</a>
        <div>${event.time}</div>
        <br>
        `
        );
      })
    })
  </script>
</div>